*
    box-sizing: border-box

body 
    font-family: 'Roboto' , sans-serif
    background: #19202a

header
    position: absolute
    z-index: 3
    padding: 15px
    display: flex
    width: 100% 
    justify-content: space-between
    @media only screen and (max-width: 560px)
        display: block
        text-align: center
        width: 100%
        

    .logo
        width: 200px
        @media only screen and (max-width: 560px)
            display: block
            margin: 0 auto
            margin-bottom: 2rem
        img
            width: 100%
    nav
        align-self: center

        a
            color: #f40007
            text-decoration: none
            font-size: 1.2rem
            font-weight: 300
            padding: 0 10px
            transition: all .3s ease-in-out
            &:hover
                color: white
                font-weight: 700
            @media only screen and (max-width: 560px)
                font-size: 1.2rem
                padding: 5px
    
#top-section
    position: relative
    height: 100vh
    background:
    @media only screen and (max-width: 560px)
        display: block
    
    .floating-img
        width: 100%
        height: 100vh
        display: flex
        position: absolute
        justify-content: center
        align-items: center
        z-index: 2
    .tekashi-img
        width: 30%
        @media only screen and (max-width: 1023px)
            width: 50%
        @media only screen and (max-width: 560px)
            width: 60%
        img
            width: 100%
            filter: contrast(150%)




 